@import 'global.css';
@import 'header.css';
@import 'footer.css';

/* Main */

/* Main Content */

.main__content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
    flex-direction: column;
}

.product {
    display: flex;
    justify-content: center;
}

.product__description {
    display: flex;
    flex-direction: column;
}

.product__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.product__info {
    display: flex;
}

.product__column {
    margin-top: 22px;
}

.product__column--right {
    margin-left: 63px;
    margin-top: 22px;
}

.product__row {
    display: flex;
}

.product__row--lower {
    margin-top: 10px;
}

.product__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.product__row--bold {
    font-family: 'Open Sans';
    font-weight: 600;
    margin-left: 10px;
    margin-top: -2px;
}

.product__text--amount {
    font-size: 24px;
}

.product__price {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    color: #f68c3f;
}

.order__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    margin-top: 44px;
    margin-right: 20px;
}

.order__amount-btn {
    margin: 40px 20px;
    cursor: pointer;
}

.order__amount-value {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #101010;
    margin-top: 30px;
}

.order__btn {
    background: #f78c3f;
    border-radius: 2px;
    margin-top: 34px;
    margin-left: 20px;
    padding-bottom: 0;
    height: 42px;
}

.order__btn-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin: 10px 45px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.main__caution {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    text-transform: uppercase;
    color: #808080;
    margin: 50px 10px 0 180px;
}

.order--visible {
    display: none;
}

/* Media */

@media screen and (max-width: 1279px) {
    .container {
        max-width: 960px;
    }
    /* Header Info */
    .header-logo {
        margin-right: 45px;
    }
    .header__text {
        margin: 10px 12px;
    }
    .info__container .text {
        font-size: 10px;
    }
    .text__right {
        margin-right: 10px;
    }
    /* Header Menu */
    .filter {
        margin: 20px;
        height: 50px;
        width: 160px;
    }
    .filter__text {
        font-weight: 700;
        font-size: 20px;
        margin: 12px 0 12px 10px;
    }
    .filter__icon {
        font-size: 20px;
        margin: 10px 10px;
    }
    .search-box__input {
        width: 500px;
    }
    .menu__cart {
        margin: 20px;
        height: 50px;
        width: 160px;
    }
    .cart__text {
        font-weight: 700;
        font-size: 20px;
        margin: 10px 0 10px 10px;
    }
    .cart__icon {
        font-size: 20px;
        margin: 10px 10px;
    }
    /* Main */
    .main__caution {
        margin-left: 20px;
    }
    /* Footer */
    .footer-logo {
        margin-right: 100px;
    }
    .footer-text-box:last-child {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    /* Header Menu */
    .header__info {
        display: none;
    }
    .filter {
        display: none;
    }
    .menu__btn {
        display: block;
    }
    .menu__btn-svg {
        margin: 12px 20px;
    }
    .menu-logo--bar {
        display: block;
    }
    .menu-logo {
        margin: 0;
    }
    .search-box__input {
        margin-left: 20px;
        width: 285px;
    }
    .menu__cart {
        margin: 20px;
        height: 50px;
        width: 79px;
    }
    .cart__text {
        display: none;
        font-weight: 700;
        font-size: 20px;
        margin: 10px 0 10px 10px;
    }
    .cart__icon {
        font-size: 30px;
        margin: 12px 20px;
    }
    /* Main */
    .main__caution {
        margin-left: 0;
    }
    .product__info {
        flex-direction: column;
    }
    .order {
        flex-direction: row;
    }
    .product__column--right {
        margin-left: 0;
    }
    .order__btn-text {
        margin: 10px 15px;
    }
    /* Footer */
    .text {
        font-size: 10px;
    }
    .footer-logo {
        margin-right: 50px;
    }
    .footer .footer-text-box {
        margin-right: 40px;
    }
    .footer-text-box:last-child {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }
    /* Header Menu */
    .menu-logo--bar {
        display: none;
    }
    .search-box__input {
        margin-left: 0;
        width: 225px;
    }
    .menu .show-menu {
        width: 60%;
    }
    /* Main Content */
    .product__img {
        height: 40%;
        width: 40%;
    }
    .product__name {
        font-size: 18px;
    }
    .product__text {
        font-size: 14px;
    }
    .product__text--amount {
        font-size: 18px;
    }
    .product__price {
        font-size: 38px;
    }
    .order__text {
        font-size: 14px;
        margin-top: 38px;
    }
    /* Footer */
    .footer__logo {
        display: none;
    }
    .footer .footer-text-box {
        margin-right: 30px;
    }
    .footer-text-box {
        margin: 20px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: auto;
    }
    /* Header Menu */
    .menu__container {
        display: flex;
        justify-content: space-between;
    }
    .search-box__input {
        margin-left: 0;
        width: 100%;
    }
    .menu .show-menu {
        width: 80%;
    }
    /* Main Content */
    .order {
        display: none;
    }
    .order--visible {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
    }
    .main__caution {
        margin-left: 20px;
        margin-top: 20px;
    }
    .order__text {
        margin-right: 0;
        margin-top: 44px;
    }
    .order__amount-btn {
        margin: 40px 10px;
    }
    .order__btn-text {
        font-size: 14px;
        margin: 10px;
    }
    .order__btn {
        margin-left: 10px;
    }
    /* Footer */
    .footer__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__text .text {
        font-size: 8px;
    }
    .footer-text-box:last-child {
        display: none;
    }
    .footer-text-box {
        margin: 10px;
    }
}

@media screen and (max-width: 356px) {
    .container {
        width: auto;
    }
    /* Header Menu */
    .menu__container {
        display: flex;
        justify-content: space-between;
    }
    .menu__btn {
        margin: 10px;
    }
    .menu__btn-svg {
        margin: 12px 10px;
    }
    .search-box__input {
        margin-left: 0;
        width: 100%;
    }
    .search-box__btn {
        display: none;
    }
    .menu__cart {
        margin: 10px;
        width: 59px;
    }
    .cart__icon {
        margin: 12px 10px;
    }
    /* Main Content */
    .menu .show-menu {
        width: 100%;
    }
    .main__pages {
        flex-direction: column;
    }
    .page-link--left {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .page-link__img {
        width: 220px;
        height: 260px;
    }
    .page-link__text {
        font-size: 34px;
    }
    /* Footer */
    .footer-text-box:last-child {
        display: none;
    }
    .footer-text-box {
        margin: 20px;
    }
}
